@import "tailwindcss";

/* Hide scrollbars across browsers while preserving scrollability */
html, body {
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html,
body {
  -ms-overflow-style: none; /* IE and Edge */
}
